# NYCTaxi

## Librerias

In [1]:
import os

In [2]:
from glob import glob

In [3]:
from dask import delayed

In [4]:
from dask.distributed import Client

client = Client(n_workers=2)

## Importar archivos

In [5]:
from dask import dataframe as dd

In [6]:
filenames= sorted(glob(os.path.join("*.csv")))

In [7]:
df=dd.read_csv(filenames[0:2],sep=',')

## Exploraci√≥n

In [8]:
filenames[0:2]
df.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,-73.978165,40.757977,-73.989838,40.751171
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,-74.006683,40.731781,-73.994499,40.750660
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,-74.004707,40.737770,-74.009834,40.726002
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,-73.974602,40.759945,-73.984734,40.759388
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,-73.976250,40.748528,-74.002586,40.747868

## Columnas

In [9]:
lista_columnas=['medallion',
 'hack_license',
 'vendor_id',
 'rate_code',
 'store_and_fwd_flag',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_time_in_secs',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude']

In [10]:
df.tail()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
148372,18E80475A4E491022BC2EF8559DABFD8,5E2D3A13D29CDD6B49CD1CA965075439,VTS,1,NaN,2013-02-08 14:50:00,2013-02-08 14:55:00,1,300,0.75,-74.004189,40.752716,-73.994560,40.750675
148373,423AEBC756279E5DA0B28518B7DA8844,D4F6019AFF0919A9E65E337C0A69DAAF,VTS,1,NaN,2013-02-08 14:31:00,2013-02-08 14:57:00,3,1560,3.81,-73.990562,40.737152,-74.017029,40.705212
148374,05806CBB0C7B66A910AADB4AFDCBBFD6,388EEFE1B51C16CCD460156FCCBCC8FD,VTS,1,NaN,2013-02-05 23:02:00,2013-02-05 23:08:00,1,360,1.11,-73.988548,40.753197,-73.993202,40.762711
148375,61487CEF9292FF5349BD16EED14B8F92,A936C3B790C772391E124E3B313CEB72,VTS,1,NaN,2013-02-08 14:41:00,2013-02-08 14:55:00,1,840,2.12,-73.983643,40.758896,-73.988495,40.737137
148376,F13B673C0685207219E6D7F57A02EF3E,031C0778C525511CFA67C436FDD023F1,VTS,1,NaN,2013-02-05 22:44:00,2013-02-05 23:01:00,1,1020,9.00,-73.870819,40.773724,-73.968491,40.756069

In [11]:
df

Dask DataFrame Structure:
               medallion hack_license vendor_id rate_code store_and_fwd_flag pickup_datetime dropoff_datetime passenger_count trip_time_in_secs trip_distance pickup_longitude pickup_latitude dropoff_longitude dropoff_latitude
npartitions=76
                  object       object    object     int64             object          object           object           int64             int64       float64          float64         float64           float64          float64
                     ...          ...       ...       ...                ...             ...              ...             ...               ...           ...              ...             ...               ...              ...
...                  ...          ...       ...       ...                ...             ...              ...             ...               ...           ...              ...             ...               ...              ...
                     ...          ...       ...       ...                ...             ...              ...             ...               ...           ...              ...             ...               ...              ...
                     ...          ...       ...       ...                ...             ...              ...             ...               ...           ...              ...             ...               ...              ...
Dask Name: read-csv, 76 tasks

## C√°lculos

In [12]:
df.passenger_count.sum()

dd.Scalar<series-..., dtype=int64>

In [13]:
df.passenger_count.sum().compute()

48825198

In [14]:
import timeit

In [15]:
start = timeit.default_timer()

print(len(df.passenger_count))

stop = timeit.default_timer()
print('Time: ', stop - start)

28766791
Time:  118.14839353599746

In [16]:
start = timeit.default_timer()

long= delayed(len)(df.passenger_count)
print(client.compute(long).result())

stop = timeit.default_timer()
print('Dask time: ', stop - start)

28766791
Dask time:  122.49386006900022

In [17]:
df.dtypes

medallion              object
hack_license           object
vendor_id              object
rate_code               int64
store_and_fwd_flag     object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_time_in_secs       int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
dtype: object

In [18]:
import h5py

In [19]:
lista=['trip_distance',
 'pickup_longitude',
 'pickup_latitude',
 'dropoff_longitude',
 'dropoff_latitude']

In [20]:
fnyc = h5py.File("taxiNewYork.hdf5","w")

In [21]:
os.stat("taxiNewYork.hdf5")
#os.path.getsize("taxiNewYork.hdf5")

os.stat_result(st_mode=33204, st_ino=4202256, st_dev=2054, st_nlink=1, st_uid=1000, st_gid=1000, st_size=96, st_atime=1624307078, st_mtime=1624329451, st_ctime=1624329451)

In [ ]:

start = timeit.default_timer()

dset=fnyc.create_dataset("Taxi",data=df[lista])

stop = timeit.default_timer()
print('Creation time: ', stop - start)

In [ ]:
start = timeit.default_timer()
fnyc = h5py.File('TAXINYC.hdf5', 'w')
dset=fnyc.create_dataset("TaxiNY",data=df)
stop = timeit.default_timer()
print('Creation time: ', stop - start)

In [ ]:
os.stat("TAXINYC.hdf5")

In [ ]:
fnyc

In [ ]:
import pandas as pd

In [ ]:
from castra import Castra

In [ ]:
c = Castra('data.castra', template=df)

"Work in Progress
Castra is immature and largely for experimental use.

The developers do not promise backwards compatibility with future versions. You should treat castra as a very efficient temporary format and archive your data with some other system."